.btn-join {
    border-radius: 10px;
    background: linear-gradient(90deg, #8B57E9 0%, #4A76E6 100%);
    width: 110px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    border-style: none;
}

.btn-join-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
 .btn-join {
    width: 221px;
    height: 80px;
    font-size: 22px;
 }
 .btn-join-div {
    justify-content: flex-start;
 }
}