.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    padding-right: 5%;
    z-index: 10;
}

.burger {
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: #fff;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.transition1 {
    transform: rotate(45deg);
}
.transition2 {
    transform: translateX(100%);
    opacity: 0;
}
.transition3 {
    transform: rotate(-45deg);
    position: relative;
    top: 15%;
}


@media (min-width: 1000px) {
    .hamburger{
        display: none;
    }
}