
.navBar-main {
   /* background-color: rgb(0, 0, 0); */
    background-image: linear-gradient(500deg, #845BE9, #4F74E7);
   color: #FFF;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 20px;
   padding-bottom: 20px;
   position: fixed;
   width: 100%;
   z-index: 2;
    box-shadow: 0 0.5px 5px 3px #675bef;
}

/*logo*/
.navBar-main>img {
    width: 60px;
    height: 12px;
    padding-left: 5%;
}

/*nav ul*/
.nav-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding-right: 5%;
    display: none;
}

.nav-ul>li,
.btn-nav {
    font-size: 16px;
    font-weight: 510;
}


.li-nav {
    display: flex;
    align-items: center;
}

.show-nav {
    display: flex;
    justify-content: center;
    background: linear-gradient(55deg, #845BE9 10%, #4F74E7 88.71%);
    height: 40vw;
    width: 50vw;
    margin-top: 50px;
    position:fixed;;
    z-index: 2;
    top: 1%;
    left: 50%;
    box-shadow: 0 5px 5px -3px #675bef;
    border-radius: 5px 5px 5px 5px;
}

/* Hide nav-ul when burgerOpen is false */
.hide-nav {
    display: none;
}

.show-nav>ul {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
list-style: none;
padding: 0;
color: #FFF;
}

.li-join {
background: linear-gradient(90deg, #402d72 0%, #182447 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 900;
}

/* join Waitlist button WITH the gradient*/




@media (min-width: 1000px) {
    
    .navBar-main {
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 0.5px 10px 5px #675bef;
}


/*logo*/
.navBar-main > img {
    width: 122px;
    height: 24px;
}


/*nav ul*/
.nav-ul {
    flex-direction: row;
    gap: 40px;
    display: flex;
}



/* join Waitlist button WITH the gradient*/
.btn-nav {
    background-color: #0E0A20;
    color: #8075FF;
    font-weight: 600;
    padding: 15px 49px;
    border-radius: 10px;
    border-style: none;
}

.show-nav {
    display: none;
}

}