@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: Inter;
    background-color: #FBFBFB;
}

a:visited {
    color: #FFF;
}
a:link {
    color: #FBFBFB;
    background-color: transparent;
    text-decoration: none;
}



a:hover {
    color: #292653;
    background-color: transparent;
    text-decoration:wavy;
}

a:active {
    /* color: yellow;
    background-color: transparent;
    text-decoration: underline; */
}
